body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #2a5298;
}

/* TABLE */
table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
}

th {
    background: #2a5298;
    color: white;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

/* BUTTONS */
.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.btn-add {
    background: green;
}

.btn-delete {
    background: red;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    width: 400px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
}